{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".test.js", ".jsx", ".js"] }],
    "react/jsx-one-expression-per-line": [{ "allow": "single-child" }],
    "react/destructuring-assignment": "off",
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["label"],
        "labelAttributes": ["htmlFor"]
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-case-declarations": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref"]
      }
    ],
    "react/no-did-update-set-state": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "import/no-named-as-default": "off",
    "no-restricted-globals": "off",
    "react/sort-comp": [0],
    "quote-props": ["error", "consistent"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": [ "**/*.test.js", "src/setupTests.js" ] }],
    "no-else-return": "off",
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "padding-line-between-statements": [2,
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  },
  "parser": "babel-eslint"
}
